* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: rgb(242, 242, 242);
}

/*--------------------------------------------------HEADER----------------------------------------------------*/
/*---------CONSISTS OF
        - LOGO
        - Resume button to load PDF of resume
*/

header {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

#logo {
    width: 125px;
    border-radius: 50%;
    -webkit-box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.18);
    box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.18);
    cursor: pointer;
}

#resume-btn {
    font-size: 18px;
    background-color: rgb(255, 255, 255);
    padding: 10px 15px;
    border-radius: 30px;
    -webkit-box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.18);
    box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.18);
    cursor: pointer;
}

/*-------------------------------HEADER RESPOONSIVE---------------------------------*/

@media (width < 500px) {
    #logo {
        width: 90px;
    }

    #resume-btn {
        font-size: 16px;
    }
}

@media (width < 300px) {
    #logo {
        width: 70px;
    }

    #resume-btn {
        font-size: 12px;
    }
}

/*------------------------------HERO---------------------------------*/
/*------------------------------HERO---------------------------------*/
/*------------------------------HERO---------------------------------*/
/*------------------------------HERO---------------------------------*/

#mobile-hero {
    width: 100%;
    height: fit-content;
    padding: 50px 0;
}

#mobile-hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 20px;
}

.mobile-item {
    margin: auto;
    width: 80%;
    border-radius: 30px;
    padding: 20px;
    -webkit-box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.18);
    box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.18);
    display: flex;
    flex-direction: column;
    background-color: white;
}

.item1,
.item2 {
    aspect-ratio: 1/1;
}

.item3 {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    box-shadow: none;
}

.item5 {
    aspect-ratio: 2/1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#item5-title {
    font-size: 4vw;
}

#tools {
    width: 100%;
}

#item3-left {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 30px;
    -webkit-box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.18);
    box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.18);
    background-image: url('./images/portrait.jpg');
    background-size: cover;
    background-position: center;
}

#item3-right {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 30px;
    -webkit-box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.18);
    box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.18);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#uofa-logo {
    width: 80%;
}

#certificate-title {
    width: 100%;
    font-size: 2vw;
    font-weight: 500;
    text-align: center;
}

#certificate-year {
    font-size: 3vw;
    padding-top: 1em;
}

.item4 {
    height: fit-content;
    aspect-ratio: 1/1.8;
    background-image: url('./images/spotify-wrapped-2023.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: saturate(.8);
}

#item1-pre-name {
    font-size: 1em;
    font-weight: 300;
}

.item1>img {
    width: 40%;
}

#item1-pre-name {
    font-size: 3vw;
    font-weight: 200;
}

#name {
    font-size: 8vw;
    font-weight: 800;
    background: #DE0000;
    background: linear-gradient(to right, #ffb9b9 0%, #0022ff6c 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#item1-text {
    font-size: 3vw;
    font-weight: 200;
    padding: 1em 0;
}

#item1-text-highlight {
    font-weight: 800;
    background: #DE0000;
    background: linear-gradient(to right, #ffbdbd 0%, #0022ff6c 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#contact-btn {
    width: fit-content;
    font-size: 3vw;
    font-weight: 200;
    background-color: rgb(245, 245, 245);
    padding: 10px 15px;
    border-radius: 30px;
    -webkit-box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.18);
    box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.18);
    background: #de0000;
    background: linear-gradient(to right, #de000044 0%, #0022ff41 100%);
}

.item2 {
    display: grid;
    place-items: center;
    aspect-ratio: 2/1;
    background-image: url('./images/map.png');
    background-size: cover;
    background-position: center;
}

.item2>img {
    width: 10%;
}