* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*-------------------------------------------------------HEADER---------------------------------------------------------*/

#header {
    border: 1px solid black;
    width: 100%;
    height: 10vh;
}

#header-items {
    border: 1px solid cyan;
    width: 80%;
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*----------------------------------NAVIGATION--------------------------------------*/

#nav-items {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-items>ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    list-style: none;
}

.nav-item {
    text-decoration: none;
    color: black;
    font-weight: 700;
    cursor: pointer;
}

.nav-item:hover {
    color: rgb(0, 90, 0);
}

#header-btn {
    border: 1px solid black;
    padding: 10px 20px;
    -webkit-box-shadow: 0px 3px 14px 5px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0px 3px 14px 5px rgba(0, 0, 0, 0.18);
    box-shadow: 0px 3px 14px 5px rgba(0, 0, 0, 0.18);
    transition: all .3s ease-in-out;
    cursor: pointer;
}

#header-btn:hover {
    transform: translateY(3px);
}

#menu-icon {
    display: none;
}

@media (width < 700px) {

    #header-items {
        justify-content: right;
        gap: 20px;
    }

    #nav-items {
        display: none;
    }

    #menu-icon {
        display: block;
    }
}

.alert {
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 196, 0);
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.alert-text {
    font-size: 4vw;
}

.cog-1 {
    width: 50vw;
    position: absolute;
    top: -15vw;
    left: -15vw;
    animation: cog 5s linear infinite;
}

.cog-2 {
    width: 50vw;
    position: absolute;
    bottom: -15vw;
    right: -15vw;
    animation: cog 5s linear infinite;
}

@keyframes cog {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}